/* Navbar */
.navbar{
    display: flex;
    text-decoration: none;
}

.navbar img{
    width: 5rem;
    height: 5rem;
}

.navbar ul{
    display: flex; 
    list-style: none;
}

.navbar li{
    /* margin-right: 3rem; */
    align-items: center;
}

.navbar ul a:hover{
    text-decoration: none;
}

/* #button{
    border-radius: 20px !important;
    box-shadow: 0 0 15px px rgb(192, 182, 182)
} */

.about{
    margin-top: .4rem;
    margin-right: 3rem;
    color: #FFC302;
}

/* First Section */

.section-1{
    display: flex;
    margin-top: 3rem;
}

.text-div{
    width: 100%;
    margin-top: 8rem;
}

.img-div img{
    width: 100%;
    height: 100%;
}

.text-div .p1{
    font-weight: 10rem !important;
}