*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navbar */

.icon-bars{
    color: black;
}

.toggleview{
    transform: translateX(0) !important;
}

.toggle-out{
    margin-left: 90%;
}

.navbar{
    display: flex;
    text-decoration: none;
}

.navbar img{
    width: 5rem;
    height: 5rem;
}

.navbar ul{
    display: flex; 
    list-style: none;
}

.navbar li{
    align-items: center;
}

.navbar ul a:hover{
    text-decoration: none;
}

.btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #d1d9e2;
}

.about{
    margin-top: .4rem;
    margin-right: 3rem;
    color: #FFC302;
}

/* Body Section */

.section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.text-div{
    width: 100%;
}

.img-div img{
    width: 100%;
}

.text-div p{
    margin-bottom: 0 !important;
}

.text-div a{
    text-decoration: none;
}

#p1{
    font-size: 3rem !important;
    color: #01193C;
    font-weight: 900 !important;
}

#p2{
    font-size: 2.4rem !important;
    color: #FFC302;
    font-weight: 900 !important;
}

#p3{
    font-size: 1.5rem;
    color: #01193C;
    font-weight: 700;
}

.icon-div{
    display: flex;
    margin-top: 1.5rem;
}

.icon-div li{
    font-weight: bold;
    list-style: none;
    margin-right: 1rem;
}

.fa{
    font-size: 2.5rem;
}

.arrow-down, .arrow-down:hover{
    color: black;
    animation: blink 1s linear infinite;
}

@keyframes blink{
    50%{
        opacity: 0;
    }
}

/* Body article */

article{
    background: #dfdfe6;
    margin-bottom: 1rem;
    padding: 3rem;
}

article form{
    background: white;
    font-weight: bold;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

/* article .container{
    margin-left: 7% !important;
} */

.second-article-div{
    background: #FFC302;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3rem;
}

article form p{
    font-size: xx-large;
    text-align: center;
}

#p11{
    margin: 0;
    font-size: 1.9rem !important;
    color: #01193C;
    font-weight: 800 !important;
}

#p22{
    margin: 0;
    font-size: 1.7rem !important;
    color: white;
    font-weight: 900 !important;
}

#p33{
    font-size: 1.5rem;
    color: #01193C;
    font-weight: 700;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
}

footer p{
    font-weight: bold;
}


/* Media Queries */

@media (max-width: 1024px){
    article .container{
        margin-left: 2% !important;
    }
}

@media (min-width: 599px){
    .icon-bars{
        display: none !important;
    }   
}

@media (max-width: 599px){
    /* Navbar */
    .navbar span{
        display: none;
    }

    .nav-button{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 1rem;
    }

    #navbar-ul{
        margin-top: 1rem;
        /* background: black; */
        transition: .5s ease-in-out;
        z-index: 99999;
        transform: translateY(-200%);
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        padding-right: 0;
    }

    .about{
        margin-right: 0;
    }

    /* Body Section */

    .section-1, .text-div{
        margin-top: 1rem ;
    }

    .section-1{
        display: flex;
        flex-direction: column;
    }

    .text-div{
        text-align: center;
    }

    .icon-div{
        justify-content: center !important;
    }

    /* Body Article */

    .second-article-div{
        display: none;
    }

    article form{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
    }

    /* footer */
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

