/* Navbar */
.navbar{
    display: flex;
    text-decoration: none;
}

.navbar img{
    width: 5rem;
    height: 5rem;
}

.navbar ul{
    display: flex; 
    list-style: none;
}

.navbar li{
    align-items: center;
}

.navbar ul a:hover{
    text-decoration: none;
}

.btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #d1d9e2;
}

.about{
    margin-top: .4rem;
    margin-right: 3rem;
    color: #FFC302;
}

/* Body Section */

.section-1{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.text-div{
    width: 100%;
    margin-top: 6rem;
}

.img-div img{
    width: 100%;
    height: 100%;
}

.text-div p{
    margin-bottom: 0 !important;
}

.text-div a{
    text-decoration: none;
}

#p1{
    font-size: 3rem !important;
    color: #01193C;
    font-weight: 900 !important;
}

#p2{
    font-size: 2.4rem !important;
    color: #FFC302;
    font-weight: 900 !important;
}

#p3{
    font-size: 1.5rem;
    color: #01193C;
    font-weight: 700;
}

.icon-div{
    display: flex;
    margin-top: 1.5rem;
}

.icon-div li{
    font-weight: bold;
    list-style: none;
    margin-right: 1rem;
}

.fa{
    font-size: 2.5rem;
}

.arrow-down, .arrow-down:hover{
    color: black;
    animation: blink 1s linear infinite;
}

@keyframes blink{
    50%{
        opacity: 0;
    }
}

/* Body article */

article{
    background: #eaeaee;
    margin-bottom: 1rem;
}

article form{
    background: white;
    font-weight: bold;
}

article .container{
    margin-left: 7% !important;
}

.second-article-div{
    background: #FFC302;
    margin-top: 8rem;
    margin-bottom: 8rem;
}


article form p{
    font-size: xx-large;
    text-align: center;
}

#p11{
    margin: 0;
    font-size: 3rem !important;
    color: #01193C;
    font-weight: 900 !important;
}

#p22{
    margin: 0;
    font-size: 2.3rem !important;
    color: white;
    font-weight: 900 !important;
}

#p33{
    font-size: 1.5rem;
    color: #01193C;
    font-weight: 700;
}


/* Footer */

footer{
    display: flex;
    justify-content: space-between;
}

footer p{
    font-weight: bold;
}


@media (max-width: 1024px){
    article .container{
        margin-left: 2% !important;
    }
}

@media (max-width: 599px){
    .navbar ul{
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .about{
        margin-right: 0;
    }

    .nav-button{
        margin-top: 1rem;
    }
}